@import '~tfstyleguide/vars';

.footer-container {
  width: 100%;
  background-color: @gray25;
}

.footer {
  .centered-container-mobile;
  padding: 40px;

  @media @nonmobile {
    .centered-container;
    padding-top: 58px;
    padding-bottom: 66px;
  }
}

.timezone {
  .body-text-small;
  color: @black;
  margin-bottom: 42px;

  a {
    .body-text-small;
    text-decoration: underline;
    color: @gray75;
    display: inline-block;
    margin-left: 16px;

    &:hover {
      color: @black;
    }
  }
}

.footer-link {
  .maison-regular;
  font-size: 12px;
  color: @black;
  display: inline-block;
  margin-right: 46px;
  display: block;

  @media @nonmobile {
    display: inline-block;
  }
}

a.footer-link:hover {
  text-decoration: underline;
}
