@import '~tfstyleguide/vars';

.tui-app-notification-toggle {
  z-index: 1;
  display: inline-block;
  margin-right: 26px;
  text-align: center;
  user-select: none;
  color: @gray75;
  width: 42px;
  height: 42px;
  border-radius: 100%;
  position: relative;

  &:hover {
    background-color: @gray40;
    transition: background-color 0.3s ease;
  }
}

.tui-app-notification-count {
  display: inline-block;
  line-height: 42px;
  border-radius: 100%;
  text-align: center;

  &.tui-app-notification-count__unread::after {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background-color: @purple;
    position: absolute;
    right: 11px;
    top: 10px;
  }

  .svg-icon {
    position: relative;
    top: 3px;
  }

  .tui-app-notification-toggle:hover & {
    color: @black;
  }
}

.tui-app-notification-list-container {
  position: absolute;
  z-index: 5;
  top: 30px;
  right: 80px;
  padding: 15px;
  max-height: 0;
  overflow: scroll;
  opacity: 0;
  transition: top 0.22s ease, opacity 0.22s ease;
  &.tui-app-notification-list-container__visible {
    opacity: 1;
    padding-top: 15px;
    margin-top: -15px;
    top: 50px;
    max-height: (60px * 5 + 16px);
    height: auto;
    transform: top(-50%, 0);
  }
}
.tui-app-notification-list {
  position: relative;
  margin-bottom: 0;
}
.tui-app-notification-item {
  .box-shadow-heavy;
  .maison-bold;
  font-size: @font-size;
  display: flex;
  align-items: center;

  z-index: 5;
  position: relative;
  list-style: none;
  margin-left: 0;
  margin-bottom: 0;
  padding: 9px 16px 10px;
  width: 258px;
  max-width: 100%;
  background-color: @white;
  + .tui-app-notification-item {
    margin-top: 8px;
  }
}
.tui-app-notification-item-dismiss {
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  color: @gray75;
  background-color: @white;
  border-radius: 100%;
  &:hover {
    background-color: @gray40;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }
  .svg-icon {
    position: relative;
    top: 3px;
  }
}
.tui-app-notification-content {
  .body-text;
  color: @gray90;
  width: 194px;
  &:hover {
    color: @black;
    text-decoration: none;
  }
}
.tui-app-notification-time {
  display: block;
  color: @gray50;
}
.tui-app-notification-message {
  .maison-bold;
  margin-bottom: 0;
}
.tui-app-notification-voting-bar {
  direction: rtl;
  padding-top: 10px;
  text-align: center;
}
.tui-voting-star {
  &:hover g {
    fill: @blue;
  }
  + .tui-voting-star {
    padding-right: 5px;
  }
}
.tui-voting-star:hover ~ .tui-voting-star g {
  fill: @blue;
}
